
<div class="container">
	<div class="seven columns headertext animated fadeInDown">
	<h1>Typeoke</h1>
	<p>Karaoke game where peers can input a chorus from their favorite songs. Play for points to fill in the missing lyric. Login now.</p>
	<form ng-submit="loginUser(username, password)">
	    <input type="text" ng-model="username" placeholder="Username">
	    <input type="password" ng-model="password" placeholder="Password">
	    <input type="submit" value="Submit">
	</form>
	<h5 style="color:red">{{messages}}</h5>
	</div>
</div>



