<section>
  <h2>Leaderboard</h2>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Username</th>
          <th>Score</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr ng-repeat="score in scores">
          <td>{{score.username}}</td>
          <td>{{score.score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
  </br>
  <button ng-click="changeRoute()">Add Song</button>&nbsp;<button ng-click="changeRouteSongs()">View the Playlist</button>&nbsp;<button ng-click="changeRouteAccount()">Your Music</button>

<script>
  $(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
  }).resize();
</script>
